$primary: rgb(39, 0, 103);
$light-themed: #f5e7ff;
$dark-themed: rgb(28, 1, 70);
$secondary: rgb(127, 127, 127);
$textBtn: white;
$border: #afafaf;
$box-shadow: #ccc;
$box-shadow-dark: rgba(0, 0, 0, 0.08);
$table-heading: #e9e9e9;
$background: #fafafa;
$item-background: #f8f9fb;
$popup-background: rgba(0, 0, 0, 0.365);
$toast-error-background: rgb(255, 208, 208);
$toast-success-background: rgb(215, 255, 215);

$error: rgb(227, 0, 0);
$error-dark: rgb(141, 0, 0);
$success: rgb(0, 147, 0);
$success-dark: rgb(0, 91, 0);
$tertiary: orange;
$tertiary-dark: rgb(227, 148, 0);
$ai: #84C5B1;
$ai-dark: #3f836f;
$pink: #d81159;
$blue: #0466c8;
$text: black