@use "../../styles/variables" as *;

.dashboardLayout {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.mainContainer {
    display: grid;
    grid-template-rows: auto 1fr  ;
    width: 100vw;
}

.content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: $background;
}