#AWS
AWS_ACCESS_KEY_ID = <aws_console>
AWS_SECRET_ACCESS_KEY = <aws_console>
AWS_REGION = <aws_console>
S3_BUCKET_NAME = <aws_console>

#LOGGING
LOG_LEVEL = "INFO"
LOG_FILE = "log/app.log"


#MAIL_CRED
ADMIN_MAIL = <admin_mail>