@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.modal {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $popup-background;
    @include flex-center;
}

.modalForm {
    background-color: $textBtn;
    padding: 1rem;
    min-width: 25rem;
    border-radius: 4px;
}

.headingSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}